$main-color: #0c4b35;
$secondary-color: #00730c;
$background-gradient: linear-gradient(
  39.89deg,
  rgba(0, 115, 12, 0.81) -22.86%,
  rgba(251, 246, 238, 0) 116.18%
);
$shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
