@import "./variables";

// mobile xs
* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.swiper {
  padding: 40px 0;

  .swiper-pagination-bullet {
    background-color: #00730c;
  }
  .swiper-pagination-bullet-active {
    background-color: #00730c;
    width: 15px;
    border-radius: 5px;
  }

  .swiper-slide {
    max-width: max-content;
  }
}

.active {
  color: $secondary-color;
}

.call-button-small,
.call-button-big,
.green-btn {
  background-color: $secondary-color;
  border: none;
  border-radius: 10px;
  color: white;
}

.call-button-small {
  width: 40px;
  height: 34px;
}

.call-button-big,
.green-btn {
  font-size: 16px;
  font-weight: 700;
}

.call-button-big {
  padding: 12px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  img {
    margin: 0;
  }
}

.green-btn {
  width: 275px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 15px;
}

ul {
  list-style-type: none;
  padding: 0 !important;
}

li {
  display: flex;
  padding: 20px;
  gap: 10px;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: $shadow;
  align-items: center;
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin: 20px 0;
}

.section-p,
.staff-position,
.client-position {
  font-size: 14px;
  text-align: center;
}

.li-head,
.staff-name,
.client-name {
  font-size: 16px;
  font-weight: 700;
}

.li-p {
  font-size: 14px;
  text-align: left;
  margin: 0;
}
.staff-name,
.staff-position,
.client-name,
.client-position {
  margin: 0;
}

header {
  .top-header {
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    height: 55px;
    align-items: center;
    margin: 0 auto;
    padding: 0 8vw;

    .contact-us {
      display: flex;
      gap: 20px;
      align-items: center;

      .email-us p,
      .call-us p,
      .find-us p {
        display: none;
      }
    }

    .language p {
      color: white;
      font-size: 12px;
      margin: 0;
    }
  }

  .bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    padding: 0 8vw;

    .navbar {
      display: none;
    }

    .navbar {
      a {
        text-decoration: none;
        color: black;
      }
      .navigation {
        .drop-down {
          display: inline-block;
          position: relative;
          .dropdown-items {
            display: none;
            position: absolute;
            width: 200px;
            top: 65px;
            li {
              background-color: $main-color;
              border-radius: 0;
              margin: 0;
              display: block;
              padding: 20px;
              a {
                color: white;
              }
            }
          }
        }

        li:hover,
        .dropdown-items li:hover {
          background-color: white;
          a {
            color: $main-color;
          }
        }
      }
    }

    .call-menu {
      display: flex;
      justify-content: flex-end;
      gap: 20px;
      align-items: center;
      .call-button-big {
        display: none;
      }
    }
  }
}

main {
  .main-section {
    padding: 0;
    background: $background-gradient;
    .main-content {
      background-image: url("images/icons/background-flower.svg");
      background-position: left bottom;
      background-repeat: no-repeat;
      background-size: 15%;
      .bg-div {
        padding: 40px 8vw;
        h3 {
          font-size: 14px;
          font-weight: 700;
        }

        .section-title {
          font-size: 30px;
          font-weight: 800;
          text-align: left;
        }

        .section-p {
          margin-bottom: 40px;
          text-align: left;
        }
        .grey-btn {
          background: linear-gradient(180deg, #fff8f1 0%, #cbe5ce 100%);
          border-radius: 32px;
          border: none;
          font-size: 10px;
          font-weight: 400;
          width: 130px;
          height: 32px;
          padding: 10px 8px;
          text-align: center;
        }

        .main-link {
          text-align: center;
          margin: 25px auto;

          a {
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
          }
        }

        .main-btns {
          display: flex;
          justify-content: flex-end;
          gap: 10px;
        }
      }
    }
  }

  .services {
    padding: 40px 8vw;
    .services-list {
      li {
        background: linear-gradient(172.29deg, #ffffff -10.79%, #ffffff 94.04%);
        box-shadow: $shadow;
        justify-content: space-between;
        align-items: center;

        img {
          margin: 10px;
          height: 50px;
          width: 50px;
        }
      }
    }
  }

  .about-us {
    .row {
      justify-content: center;
      align-items: center;

      .value-img-container {
        background-image: url("images/icons/green-background-image.svg");
        background-position: top left;
        background-repeat: no-repeat;
        position: relative;
        padding: 0;

        .value-img {
          margin: 15px;
        }

        .small-value-img {
          position: absolute;
          top: 75%;
          left: 30%;
        }
      }
      div {
        padding: 60px 8vw 40px;

        .our-values {
          li {
            box-shadow: $shadow;
            max-width: 45%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
          .li-head {
            margin: 0;
          }
        }
      }
    }
  }

  .why-choose-us {
    background-color: $main-color;
    color: white;
    text-align: center;
    padding: 40px 8vw;

    .reasons-choose-us {
      justify-content: center;
      li {
        padding: 0;
        max-width: 45%;
        align-items: center;
        justify-content: center;
        .li-head {
          margin: 0;
        }
      }
    }
  }

  .working-process {
    padding: 40px 8vw;
    .processes {
      justify-content: space-evenly;
      li {
        background: linear-gradient(172.29deg, #ffffff -10.79%, #ffffff 94.04%);
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        img {
          margin: 10px;
        }
      }
    }
  }

  .reach-out {
    color: white;
    background-image: url("images/photos/hand-holding-small-tree-planting.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    .img-text {
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 40px 0;
      width: 75%;
    }
  }

  .staff {
    padding: 40px 8vw;

    .staff-data {
      background: linear-gradient(
        6.68deg,
        #00730c 4.95%,
        rgba(251, 246, 238, 0) 264.79%
      );
      display: flex;
      flex-direction: column;
      color: white;
      align-items: center;
      padding: 10px;
      border-radius: 0 0 5px 5px;

      .social-media {
        display: none;
      }
    }

    .staff-data:hover {
      position: absolute;
      top: 0;
      width: 100%;
      height: calc(100% + 65px);
      border-radius: 5px;
      padding: 20px;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .social-media {
        display: flex;
        justify-content: space-around;
        gap: 10px;
      }

      .staff-card {
        position: relative;
      }
    }
  }

  .clients-saying {
    padding: 40px 8vw;
    background-color: #e3f2e7;
    .client-card {
      .client-photo {
        width: 135px;
        margin-bottom: 20px;
        height: 185px;
      }

      background-color: white;
      padding: 20px;

      .review {
        padding-top: 30px;
        .client-data {
          display: flex;
          justify-content: space-between;
          p {
            text-align: left;
          }
        }
      }
    }
  }
  .faq {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      display: none;
      width: 450px;
      height: 550px;
      margin: 30px;
    }
    ol {
      padding: 0;
      li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        background-color: #fff8f1;
        margin: 15px auto;
        box-shadow: none;
        .li-head {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin: 0;
          p {
            margin: 0;
          }
        }
        .li-p {
          background-color: white;
          display: none;
        }
      }
    }
  }
}

// __________________________________________________________________________________________________________________________________________________________________
// tablet md
@media (min-width: 768px) {
  .section-title {
    font-size: 32px;
  }

  main {
    .main-section {
      display: flex;
      justify-content: flex-end;
      flex-direction: row-reverse;
      align-items: flex-start;
    }

    .services {
      .services-list {
        li {
          width: 48%;
        }
      }
    }

    .about-us {
      .row {
        .value-img-container {
          .value-img {
            width: 45%;
          }
        }
        .our-values {
          justify-content: center;
          gap: 20px;
          li {
            max-width: 33%;
          }
        }
      }
    }

    .why-choose-us {
      .img-fluid {
        width: 75%;
      }
    }

    .working-process {
      .processes {
        li {
          width: 48%;
        }
      }
    }

    .reach-out {
      .img-text {
        font-size: 25px;
      }
    }

    .clients-saying {
      .client-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .review {
          padding: 30px;
        }
      }
    }
  }
}

// laptop lg
@media (min-width: 992px) {
  .section-title {
    font-size: 34px;
  }

  header {
    .top-header {
      .contact-us {
        .email-us,
        .call-us,
        .find-us {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          p {
            display: block;
            margin-bottom: 0;
            font-weight: 700;
            color: white;
          }
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
      .language {
        font-size: 16px;
      }
    }

    .bottom-header {
      height: 80px;
      .navbar {
        display: block;
      }

      .navbar {
        .navigation {
          padding: 0;
          display: flex;
          justify-content: center;
          gap: 12px;
          margin: 0;
          font-weight: 700;
          li {
            box-shadow: none;
            padding: 20px 10px;
          }

          .drop-down:hover .dropdown-items {
            display: block;
          }
        }
      }
      .menu-button,
      .call-button-small {
        display: none;
      }

      .call-menu {
        .call-button-big {
          display: block;
        }
      }
    }
  }
  main {
    .main-section {
      .img-fluid {
        width: 100%;
        align-self: end;
      }

      .main-content {
        display: flex;
        justify-content: flex-end;
        .bg-div {
          padding: 40px 4vw;
          .section-title {
            font-size: 40px;
          }

          .main-btns {
            justify-content: center;
            gap: 15px;
          }
        }
      }
    }

    .services {
      .services-list {
        li {
          flex-direction: column;
          max-width: 32%;
          .services-text {
            text-align: center;
            p {
              text-align: center;
            }
          }
        }
      }
    }

    .about-us {
      .row {
        .value-img-container {
          width: 40%;
          .value-img {
            width: auto;
          }
          .small-value-img {
            left: 37%;
          }
        }

        div {
          padding: 0px 4vw 40px;
          margin-top: 0;
          .our-values {
            li {
              flex-direction: row;
              justify-content: space-around;
              max-width: 45%;
            }
          }
          .green-btn {
            margin: 0;
          }
        }
      }
    }

    .why-choose-us {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      gap: 20px;
      padding: 20px 100px;

      .img-fluid {
        width: 175%;
      }
      .section-p {
        text-align: left;
      }
      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .reasons-choose-us {
          li {
            justify-content: flex-start;
          }
        }

        .green-btn {
          margin: 0;
        }
      }
    }

    .working-process {
      .processes {
        li {
          margin: 0;
          width: 23%;
        }
      }
    }

    .reach-out {
      .img-text {
        flex-direction: row;
        justify-content: flex-end;
        gap: 45px;
        p {
          width: 50%;
          text-align: end;
          margin: 0;
        }
      }
    }
    .staff {
      .staff-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
          width: 65%;
          padding: 20px;
          .section-p,
          .section-title {
            text-align: left;
          }
        }
      }
    }

    .clients-saying {
      .client-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .review {
          padding: 30px 0;
        }
      }
    }

    .faq {
      flex-direction: row-reverse;
      img {
        display: block;
      }
      ol {
        padding: 0;
        li {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          background-color: #fff8f1;
          margin: 15px auto;
          box-shadow: none;
          .li-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 0;
            p {
              margin: 0;
            }
          }
          .li-p {
            background-color: white;
            display: none;
          }
        }
      }
    }
  }
}

// laptop xxl
@media (min-width: 1440px) {
  .section-title {
    font-size: 40px;
  }

  .section-p,
  .li-p {
    font-size: 20px;
  }

  .li-head {
    font-size: 22px;
  }

  .green-btn,
  .call-button-big {
    font-size: 20px;
  }

  header {
    .top-header {
      padding: 0 10vw;
    }
    .bottom-header {
      padding: 0 10vw;
    }
  }

  main {
    .main-section {
      .main-content {
        .bg-div {
          padding: 40px 8vw;
          h3,
          .main-link a {
            font-size: 20px;
          }

          .main-btns {
            gap: 20px;
            .grey-btn {
              font-size: 14px;
              width: fit-content;
              height: auto;
            }
          }
        }
      }
    }
    .services {
      padding: 40px 10vw;
      .services-list {
        li {
          width: 23%;
        }
      }
    }

    .about-us {
      .row {
        .value-img-container {
          .value-img {
            width: 75%;
          }
          .small-value-img {
            top: 85%;
            left: 60%;
          }
        }
      }
    }

    .why-choose-us {
      padding: 40px 10vw;
    }

    .working-process {
      padding: 40px 10vw;
    }

    .reach-out {
      padding: 40px 10vw;
    }

    .staff {
      padding: 40px 10vw;
    }

    .clients-saying {
      .client-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .client-photo {
          width: 160px;
          margin-bottom: 20px;
          height: 210px;
        }
        .review {
          padding: 30px;
        }
      }
    }
  }
}
