@import "./variables";

// mobile xs
* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.active {
  color: $secondary-color;
}

.call-button,
.call-button-big,
.green-btn {
  background-color: $secondary-color;
  border: none;
  border-radius: 10px;
  color: white;
}

.call-button {
  width: 40px;
  height: 34px;
}

.call-button-big,
.green-btn {
  font-size: 16px;
  font-weight: 700;
}

.call-button-big {
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  img {
    margin: 0;
  }
}

.green-btn {
  width: 275px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 15px;
}

ul {
  list-style-type: none;
  padding: 0 !important;
}

li {
  display: flex;
  padding: 20px;
  gap: 10px;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: $shadow;
  align-items: center;
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin: 20px 0;
}

.section-p {
  font-size: 14px;
  text-align: center;
}

.li-head {
  font-size: 16px;
  font-weight: 700;
}

.li-p {
  font-size: 14px;
  text-align: left;
  margin: 0;
}

header {
  margin: -7px;
  .top-header {
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    height: 55px;
    align-items: center;
    margin: 0 auto;
    padding: 0 8vw;

    .contact-us {
      display: flex;
      gap: 20px;
      align-items: center;

      .email-us p,
      .call-us p,
      .find-us p {
        display: none;
      }
    }

    .language p {
      color: white;
      font-size: 12px;
      margin: 0;
    }
  }

  .bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    padding: 0 8vw;

    .navbar,
    .call-button span {
      display: none;
    }

    .call-menu {
      display: flex;
      justify-content: flex-end;
      gap: 20px;
      align-items: center;
    }
  }
}

main {
  .main-section {
    padding: 0;
    background: $background-gradient;
    .main-content {
      background-image: url("images/icons/background-flower.svg");
      background-position: left bottom;
      background-repeat: no-repeat;
      .bg-div {
        padding: 40px 8vw;
        h3 {
          font-size: 14px;
          font-weight: 700;
        }

        .section-title {
          font-size: 30px;
          font-weight: 800;
          text-align: left;
        }

        .section-p {
          margin-bottom: 40px;
          text-align: left;
        }
        .grey-btn {
          background: linear-gradient(180deg, #fff8f1 0%, #cbe5ce 100%);
          border-radius: 32px;
          border: none;
          font-size: 10px;
          font-weight: 400;
          width: 130px;
          height: 32px;
          padding: 10px 8px;
          text-align: center;
        }

        .main-link {
          text-align: center;
          margin: 25px auto;

          a {
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
          }
        }

        .main-btns {
          display: flex;
          justify-content: flex-end;
          gap: 10px;
        }
      }
    }
  }

  .services {
    padding: 40px 8vw;
    .services-list {
      li {
        background: linear-gradient(172.29deg, #ffffff -10.79%, #ffffff 94.04%);
        box-shadow: $shadow;
        justify-content: space-between;
        align-items: center;

        img {
          margin: 10px;
          height: 50px;
          width: 50px;
        }
      }
    }
  }

  .about-us {
    .row {
      justify-content: center;
      align-items: center;

      .value-img-container {
        background-image: url("images/icons/green-background-image.svg");
        background-position: top left;
        background-repeat: no-repeat;
        position: relative;
        padding: 0;

        .value-img {
          margin: 15px;
        }

        .small-value-img {
          position: absolute;
          top: 75%;
          left: 30%;
        }
      }
      div {
        padding: 60px 8vw 40px;

        .our-values {
          li {
            box-shadow: $shadow;
            max-width: 45%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
          .li-head {
            margin: 0;
          }
        }
      }
    }
  }

  .why-choose-us {
    background-color: $main-color;
    color: white;
    text-align: center;
    padding: 40px 8vw;

    .reasons-choose-us {
      justify-content: center;
      li {
        padding: 0;
        max-width: 45%;
        align-items: center;
        justify-content: center;
        .li-head {
          margin: 0;
          font-size: 14px;
        }
      }
    }
  }

  .working-process {
    padding: 40px 8vw;
    .processes {
      justify-content: center;
      li {
        background: linear-gradient(172.29deg, #ffffff -10.79%, #ffffff 94.04%);
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        img {
          margin: 10px;
        }
      }
    }
  }

  .reach-out {
    color: white;
    background-image: url("images/photos/hand-holding-small-tree-planting.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    .img-text {
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 40px 0;
      width: 75%;
    }
  }

  .staff {
    padding: 40px 8vw;
  }
}

// __________________________________________________________________________________________________________________________________________________________________
// tablet md
@media (min-width: 768px) {
  .section-title {
    font-size: 32px;
  }

  .section-p,
  .li-p {
    font-size: 14px;
  }

  .li-head {
    font-size: 16px;
  }

  main {
    .main-section {
      display: flex;
      justify-content: flex-end;
      flex-direction: row-reverse;
      align-items: flex-start;
    }

    .about-us {
      .row {
        .value-img-container {
          .value-img {
            width: 50%;
          }
        }
        .our-values {
          justify-content: center;
          gap: 20px;
          li {
            max-width: 33%;
          }
        }
      }
    }

    .why-choose-us {
      .img-fluid {
        width: 75%;
      }
    }

    .working-process {
      .processes {
        gap: 20px;
        li {
          width: 45%;
        }
      }
    }

    .reach-out {
      .img-text {
        font-size: 25px;
      }
    }
  }
}

// laptop lg
@media (min-width: 992px) {
  .section-title {
    font-size: 34px;
  }

  header {
    .top-header {
      .contact-us {
        .email-us,
        .call-us,
        .find-us {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          p {
            display: block;
            margin-bottom: 0;
            font-weight: 700;
            color: white;
          }
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
      .language {
        font-size: 16px;
      }
    }

    .bottom-header {
      height: 80px;
      .navbar,
      .call-button span {
        display: block;
      }

      .navbar {
        .drop-down {
          padding: 0;
          display: flex;
          justify-content: center;
          gap: 25px;
          margin: 0;
          font-weight: 700;
          li {
            box-shadow: none;
            gap: 10px;
            padding: 0;
          }
        }
      }
      .menu-button {
        display: none;
      }
    }
  }
  main {
    .main-section {
      .img-fluid {
        width: 125%;
        align-self: end;
      }

      .main-content {
        display: flex;
        justify-content: flex-end;
        .bg-div {
          padding: 40px 4vw;
          .section-title {
            font-size: 40px;
          }

          .main-btns {
            justify-content: center;
            gap: 15px;
          }
        }
      }
    }

    .services {
      .services-list {
        li {
          flex-direction: column;
          width: 27%;
          .services-text {
            text-align: center;
            p {
              text-align: center;
            }
          }
        }
      }
    }

    .about-us {
      .row {
        .value-img-container {
          width: 40%;
          .value-img {
            width: 85%;
          }
          .small-value-img {
            left: 37%;
          }
        }

        div {
          padding: 0px 4vw 40px;
          margin-top: 0;
          .our-values {
            li {
              flex-direction: row;
              justify-content: space-around;
              max-width: 45%;
            }
          }
          .green-btn {
            margin: 0;
          }
        }
      }
    }

    .why-choose-us {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      gap: 20px;
      padding: 20px 100px;
      .section-p {
        text-align: left;
      }
      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .reasons-choose-us {
          li {
            justify-content: flex-start;
            .li-head {
              font-size: 16px;
            }
          }
        }

        .green-btn {
          margin: 0;
        }
      }
    }

    .working-process {
      .processes {
        li {
          width: 200px;
        }
      }
    }

    .reach-out {
      .img-text {
        flex-direction: row;
        justify-content: flex-end;
        gap: 45px;
        p {
          width: 50%;
          text-align: end;
          margin: 0;
        }
      }
    }
  }
}

// laptop xxl
@media (min-width: 1440px) {
  .section-title {
    font-size: 40px;
  }

  .section-p,
  .li-p {
    font-size: 20px;
  }

  .li-head {
    font-size: 22px;
  }

  .green-btn,
  .call-button-big {
    font-size: 20px;
  }

  header {
    .top-header {
      padding: 0 10vw;
    }
    .bottom-header {
      padding: 0 10vw;
    }
  }

  main {
    .main-section {
      .main-content {
        .bg-div {
          padding: 40px 8vw;
          .main-link {
            a {
              font-size: 20px;
            }
          }

          .main-btns {
            gap: 20px;
            .grey-btn {
              font-size: 14px;
              width: fit-content;
              height: auto;
            }
          }
        }
      }
    }
    .services {
      padding: 40px 10vw;
      .services-list {
        li {
          width: 22%;
        }
      }
    }

    .about-us {
      .row {
        .value-img-container {
          .small-value-img {
            top: 80%;
            left: 50%;
          }
        }
      }
    }

    .why-choose-us {
      padding: 40px 10vw;
    }

    .working-process {
      padding: 40px 10vw;
      .processes {
        li {
          width: 300px;
        }
      }
    }

    .reach-out {
      padding: 40px 10vw;
    }

    .staff {
      padding: 40px 10vw;
    }
  }
}
