@import "./variables";

// mobile xs
* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.container {
  width: 100%;
  padding: 15px;
  margin: auto;
}

.active {
  color: $secondary-color;
}

header {
  margin: -7px;
  .top-header {
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    height: 55px;
    align-items: center;

    .contact-us {
      display: flex;
      gap: 20px;
      align-items: center;

      .email-us p,
      .call-us p,
      .find-us p {
        display: none;
      }
    }

    .language p {
      color: white;
      font-size: 12px;
      margin: 0;
    }
  }

  .bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);

    .navbar,
    .call-button span {
      display: none;
    }

    .call-button button {
      background-color: $secondary-color;
      border: none;
      border-radius: 10px;
      width: 40px;
      height: 34px;
    }

    .call-menu {
      display: flex;
      justify-content: end;
      gap: 20px;
      align-items: center;
    }
  }
}

main {
  .main-section {
    padding: 0;
    background: $background-gradient;
    .main-content {
      padding: 50px 15px 30px;
      position: relative;
      h3 {
        font-size: 14px;
        font-weight: 700;
      }
      h2 {
        font-size: 28px;
        font-weight: 700;
      }
      p {
        font-size: 14px;
        margin-bottom: 40px;
      }
      .grey-btn {
        background: linear-gradient(180deg, #fff8f1 0%, #cbe5ce 100%);
        border-radius: 32px;
        border: none;
        font-size: 10px;
        font-weight: 400;
        width: 130px;
        height: 32px;
        padding: 10px 8px;
        text-align: center;
      }
      .green-btn {
        width: 75%;
        height: 45px;
        color: white;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        border-radius: 5px;
        background-color: $secondary-color;
        border: none;
        display: block;
        margin: 0 auto;
      }

      .main-link {
        text-align: center;
        margin: 25px auto;
      }

      .main-link a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
      }

      .main-btns {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
      }

      .background-flower {
        position: absolute;
        left: 0;
        top: 310px;
      }
    }
  }
}

// tablet sm
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

// laptop md
@media (min-width: 1024px) {
  .container {
    max-width: 970px;
  }

  header {
    .top-header {
      height: 60px;
      .contact-us {
        .email-us,
        .call-us,
        .find-us {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          color: white;
        }

        .email-us p,
        .call-us p,
        .find-us p {
          display: block;
        }

        a,
        a:visited {
          color: white;
          text-decoration: none;
        }

        a:hover {
          color: $secondary-color;
          text-decoration: none;
        }
      }

      .language {
        font-size: 14px;
        font-weight: 400;
      }
    }

    .bottom-header {
      height: 80px;
      .navbar,
      .call-button span {
        display: block;
      }
      .menu-button {
        display: none;
      }

      .call-button button {
        width: 120px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
        color: white;
        gap: 5px;
      }
      ul {
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 20px;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}

// laptop xl
@media (min-width: 1600px) {
  .container {
    max-width: 1410px;
  }
}
