* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.swiper {
  padding: 40px 0;
}
.swiper .swiper-pagination-bullet {
  background-color: #00730c;
}
.swiper .swiper-pagination-bullet-active {
  background-color: #00730c;
  width: 15px;
  border-radius: 5px;
}
.swiper .swiper-slide {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.swiper2 .swiper-button-next::after,
.swiper2 .swiper-button-prev::after {
  font-size: 22px;
  color: #00730c;
  font-weight: bold;
}
.swiper2 .swiper-button-next,
.swiper2 .swiper-button-prev {
  top: 0;
  border: 1px solid #00730c;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.swiper2 .swiper-button-next {
  left: 88%;
}
.swiper2 .swiper-button-prev {
  left: 75%;
}

.active {
  color: #00730c;
}

.call-button-small,
.call-button-big,
.green-btn {
  background-color: #00730c;
  border: none;
  border-radius: 10px;
  color: white;
}

.call-button-small {
  width: 40px;
  height: 34px;
}

.call-button-big,
.green-btn {
  font-size: 16px;
  font-weight: 700;
}

.call-button-big {
  padding: 12px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}
.call-button-big img {
  margin: 0;
}

.green-btn {
  width: 275px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 15px;
}

ul {
  list-style-type: none;
  padding: 0 !important;
}

li {
  display: flex;
  padding: 20px;
  gap: 10px;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  align-items: center;
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin: 20px 0;
}

.section-p,
.staff-position,
.client-position {
  font-size: 14px;
  text-align: center;
}

.li-head,
.staff-name,
.client-name {
  font-size: 16px;
  font-weight: 700;
}

.li-p {
  font-size: 14px;
  text-align: left;
  margin: 0;
}

.staff-name,
.staff-position,
.client-name,
.client-position {
  margin: 0;
}

header .top-header {
  background-color: #0c4b35;
  display: flex;
  justify-content: space-between;
  height: 55px;
  align-items: center;
  margin: 0 auto;
  padding: 0 8vw;
}
header .top-header .contact-us {
  display: flex;
  gap: 20px;
  align-items: center;
}
header .top-header .contact-us .email-us p,
header .top-header .contact-us .call-us p,
header .top-header .contact-us .find-us p {
  display: none;
}
header .top-header .language p {
  color: white;
  font-size: 12px;
  margin: 0;
}
header .bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  padding: 0 8vw;
}
header .bottom-header .navbar {
  display: none;
}
header .bottom-header .navbar a {
  text-decoration: none;
  color: black;
}
header .bottom-header .navbar .navigation .drop-down {
  display: inline-block;
  position: relative;
}
header .bottom-header .navbar .navigation .drop-down .dropdown-items {
  display: none;
  position: absolute;
  width: 200px;
  top: 65px;
}
header .bottom-header .navbar .navigation .drop-down .dropdown-items li {
  background-color: #0c4b35;
  border-radius: 0;
  margin: 0;
  display: block;
  padding: 20px;
}
header .bottom-header .navbar .navigation .drop-down .dropdown-items li a {
  color: white;
}
header .bottom-header .navbar .navigation li:hover,
header .bottom-header .navbar .navigation .dropdown-items li:hover {
  background-color: white;
}
header .bottom-header .navbar .navigation li:hover a,
header .bottom-header .navbar .navigation .dropdown-items li:hover a {
  color: #0c4b35;
}
header .bottom-header .call-menu {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}
header .bottom-header .call-menu .call-button-big {
  display: none;
}

main .main-section {
  padding: 0;
  background: linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);
}
main .main-section .main-content {
  background-image: url("images/icons/background-flower.svg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 15%;
}
main .main-section .main-content .bg-div {
  padding: 40px 8vw;
}
main .main-section .main-content .bg-div h3 {
  font-size: 14px;
  font-weight: 700;
}
main .main-section .main-content .bg-div .section-title {
  font-size: 30px;
  font-weight: 800;
  text-align: left;
}
main .main-section .main-content .bg-div .section-p {
  margin-bottom: 40px;
  text-align: left;
}
main .main-section .main-content .bg-div .grey-btn {
  background: linear-gradient(180deg, #fff8f1 0%, #cbe5ce 100%);
  border-radius: 32px;
  border: none;
  font-size: 10px;
  font-weight: 400;
  width: 130px;
  height: 32px;
  padding: 10px 8px;
  text-align: center;
}
main .main-section .main-content .bg-div .main-link {
  text-align: center;
  margin: 25px auto;
}
main .main-section .main-content .bg-div .main-link a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}
main .main-section .main-content .bg-div .main-btns {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
main .services {
  padding: 40px 8vw;
}
main .services .services-list li {
  background: linear-gradient(172.29deg, #ffffff -10.79%, #ffffff 94.04%);
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  justify-content: space-between;
  align-items: center;
}
main .services .services-list li img {
  margin: 10px;
  height: 50px;
  width: 50px;
}
main .about-us {
  padding: 40px 8vw;
}
main .about-us .value-img-container {
  background-image: url("images/icons/green-background-image.svg");
  background-position: top left;
  background-repeat: no-repeat;
  position: relative;
  padding: 0;
}
main .about-us .value-img-container .value-img {
  margin: 15px;
  width: 250px;
  height: 330px;
}
main .about-us .value-img-container .small-value-img {
  position: absolute;
  width: 200px;
  height: 130px;
  top: 280px;
  left: 90px;
}
main .about-us .about-text {
  padding-top: 55px;
}
main .about-us .about-text .our-values li {
  justify-content: center;
  flex-direction: column;
  max-width: 45%;
}
main .about-us .about-text .our-values .li-head {
  margin: 0;
}
main .why-choose-us {
  background-color: #0c4b35;
  color: white;
  text-align: center;
  padding: 40px 8vw;
}
main .why-choose-us .reasons-choose-us {
  justify-content: center;
}
main .why-choose-us .reasons-choose-us li {
  padding: 0;
  max-width: 45%;
  align-items: center;
  justify-content: center;
}
main .why-choose-us .reasons-choose-us li .li-head {
  margin: 0;
}
main .working-process {
  padding: 40px 8vw;
}
main .working-process .processes {
  justify-content: space-evenly;
}
main .working-process .processes li {
  background: linear-gradient(172.29deg, #ffffff -10.79%, #ffffff 94.04%);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
main .working-process .processes li img {
  margin: 10px;
}
main .reach-out {
  color: white;
  background-image: url("images/photos/hand-holding-small-tree-planting.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
main .reach-out .img-text {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px 0;
  width: 75%;
}
main .staff {
  padding: 40px 8vw;
}
main .staff .staff-data {
  background: linear-gradient(6.68deg, #00730c 4.95%, rgba(251, 246, 238, 0) 264.79%);
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}
main .staff .staff-data .social-media {
  display: none;
}
main .staff .staff-data:hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% + 65px);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
main .staff .staff-data:hover .social-media {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
main .staff .staff-data:hover .staff-card {
  position: relative;
}
main .clients-saying {
  padding: 40px 8vw;
  background-color: #e3f2e7;
}
main .clients-saying .client-card {
  background-color: white;
  padding: 20px;
}
main .clients-saying .client-card .client-photo {
  width: 135px;
  margin-bottom: 20px;
  height: 185px;
}
main .clients-saying .client-card .review {
  padding-top: 30px;
}
main .clients-saying .client-card .review .li-p {
  margin-bottom: 1rem;
}
main .clients-saying .client-card .review .client-data {
  display: flex;
  justify-content: space-between;
}
main .clients-saying .client-card .review .client-data p {
  text-align: left;
}
main .faq {
  padding: 40px 8vw;
}
main .faq img {
  display: none;
}
main .faq ol {
  padding: 0;
}
main .faq ol li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff8f1;
  margin: 15px auto;
  box-shadow: none;
}
main .faq ol li .li-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
}
main .faq ol li .li-head p {
  margin: 0;
}
main .faq ol li .li-p {
  background-color: white;
  display: none;
}
main .articles {
  padding: 40px 8vw;
}
main .articles .article-tag {
  background-color: #d9f1e0;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  padding: 5px 10px;
  border-radius: 5px;
}
main .articles li {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
main .articles li hr {
  width: 100%;
  border: 1px solid grey;
}
main .articles li .article-data {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
}
main .articles li .article-data .author-date {
  font-weight: bold;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 32px;
  }
  .swiper2 .swiper-button-next {
    left: 94%;
  }
  .swiper2 .swiper-button-prev {
    left: 87%;
  }
  main .main-section {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  main .services .services-list li {
    width: 48%;
  }
  main .why-choose-us .img-fluid {
    width: 75%;
  }
  main .working-process .processes li {
    width: 48%;
  }
  main .reach-out .img-text {
    font-size: 25px;
  }
  main .clients-saying .section-title,
main .clients-saying .section-p {
    text-align: left;
    width: 75%;
  }
  main .clients-saying .client-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  main .clients-saying .client-card .review {
    padding: 30px;
  }
}
@media (min-width: 992px) {
  .section-title {
    font-size: 34px;
  }
  .swiper2 .swiper-button-prev {
    left: 91%;
  }
  .swiper2 .swiper-button-next {
    left: 96%;
  }
  header .top-header {
    padding: 0 10vw;
  }
  header .top-header .contact-us .email-us,
header .top-header .contact-us .call-us,
header .top-header .contact-us .find-us {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  header .top-header .contact-us .email-us p,
header .top-header .contact-us .call-us p,
header .top-header .contact-us .find-us p {
    display: block;
    margin-bottom: 0;
    font-weight: 700;
    color: white;
  }
  header .top-header .contact-us .email-us a,
header .top-header .contact-us .call-us a,
header .top-header .contact-us .find-us a {
    text-decoration: none;
    color: white;
  }
  header .top-header .language {
    font-size: 16px;
  }
  header .bottom-header {
    height: 80px;
    padding: 0 10vw;
  }
  header .bottom-header .navbar {
    display: block;
  }
  header .bottom-header .navbar .navigation {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 0;
    font-weight: 700;
  }
  header .bottom-header .navbar .navigation li {
    box-shadow: none;
    padding: 20px 10px;
  }
  header .bottom-header .navbar .navigation .drop-down:hover .dropdown-items {
    display: block;
  }
  header .bottom-header .menu-button,
header .bottom-header .call-button-small {
    display: none;
  }
  header .bottom-header .call-menu .call-button-big {
    display: block;
  }
  main .main-section .img-fluid {
    width: 100%;
    align-self: end;
  }
  main .main-section .main-content {
    display: flex;
    justify-content: flex-end;
  }
  main .main-section .main-content .bg-div {
    padding: 40px 10vw;
  }
  main .main-section .main-content .bg-div .section-title {
    font-size: 40px;
  }
  main .main-section .main-content .bg-div .main-btns {
    justify-content: center;
    gap: 15px;
  }
  main .services {
    padding: 40px 10vw;
  }
  main .services .services-list li {
    flex-direction: column;
    max-width: 32%;
  }
  main .services .services-list li .services-text {
    text-align: center;
  }
  main .services .services-list li .services-text p {
    text-align: center;
  }
  main .about-us {
    padding: 20px 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  main .about-us .value-img-container .value-img {
    width: 300px;
    height: 410px;
  }
  main .about-us .value-img-container .small-value-img {
    width: 240px;
    height: 160px;
    top: 320px;
    left: 115px;
  }
  main .about-us .about-text {
    padding: 0;
  }
  main .about-us .about-text .section-p,
main .about-us .about-text .section-title {
    text-align: left;
  }
  main .about-us .about-text .our-values li {
    flex-direction: row;
    justify-content: space-around;
  }
  main .about-us .about-text .green-btn {
    margin-left: 0;
  }
  main .why-choose-us {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20px;
    padding: 20px 10vw;
  }
  main .why-choose-us .img-fluid {
    width: 175%;
  }
  main .why-choose-us .section-p {
    text-align: left;
  }
  main .why-choose-us div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  main .why-choose-us div .reasons-choose-us li {
    justify-content: flex-start;
  }
  main .why-choose-us div .green-btn {
    margin: 0;
  }
  main .working-process {
    padding: 40px 10vw;
  }
  main .working-process .processes li {
    margin: 0;
    width: 23%;
  }
  main .reach-out .img-text {
    flex-direction: row;
    justify-content: flex-end;
    gap: 45px;
  }
  main .reach-out .img-text p {
    width: 50%;
    text-align: end;
    margin: 0;
  }
  main .staff {
    padding: 40px 10vw;
  }
  main .staff .staff-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  main .staff .staff-text div {
    width: 65%;
    padding: 20px;
  }
  main .staff .staff-text div .section-p,
main .staff .staff-text div .section-title {
    text-align: left;
  }
  main .clients-saying {
    padding: 40px 10vw;
  }
  main .clients-saying .client-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  main .clients-saying .client-card .review {
    padding: 30px 0;
  }
  main .faq {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-direction: row-reverse;
    padding: 40px 10vw;
  }
  main .faq img {
    display: block;
    margin: 30px;
    width: 325px;
    height: 460px;
  }
  main .articles {
    padding: 40px 10vw;
  }
}
@media (min-width: 1440px) {
  .section-title {
    font-size: 40px;
  }
  .swiper2 .swiper-button-prev {
    left: 92%;
  }
  .section-p,
.li-p,
.client-position {
    font-size: 20px;
  }
  .li-head,
.client-name {
    font-size: 22px;
  }
  .green-btn,
.call-button-big {
    font-size: 20px;
  }
  header .top-header {
    padding: 0 10vw;
  }
  header .bottom-header {
    padding: 0 10vw;
  }
  main .main-section .main-content .bg-div {
    padding: 40px 8vw;
  }
  main .main-section .main-content .bg-div h3,
main .main-section .main-content .bg-div .main-link a {
    font-size: 20px;
  }
  main .main-section .main-content .bg-div .main-btns {
    gap: 20px;
  }
  main .main-section .main-content .bg-div .main-btns .grey-btn {
    font-size: 14px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
  }
  main .services {
    padding: 40px 10vw;
  }
  main .services .services-list li {
    width: 23%;
  }
  main .about-us .value-img-container .value-img {
    width: 350px;
    height: 490px;
  }
  main .about-us .value-img-container .small-value-img {
    width: 250px;
    top: 420px;
    left: 170px;
  }
  main .why-choose-us {
    padding: 40px 10vw;
  }
  main .working-process {
    padding: 40px 10vw;
  }
  main .reach-out {
    padding: 40px 10vw;
  }
  main .staff {
    padding: 40px 10vw;
  }
  main .clients-saying .client-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  main .clients-saying .client-card .client-photo {
    width: 160px;
    margin-bottom: 20px;
    height: 210px;
  }
  main .clients-saying .client-card .review {
    padding: 30px;
  }
  main .faq img {
    width: 400px;
    height: 510px;
  }
}/*# sourceMappingURL=style.css.map */